version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11.2
    working_directory: /go/src/github.com/alpacahq/slait
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - run: make vendor unittest
